{% extends 'web/base_alt.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}" id="theme-stylesheet">
{% endblock %}

{% block menu %}

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'web:cars' %}">Cars</a>
        </li>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
           <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:create_test_drive' %}">Drive Panel</a>
        </li>
       <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/admin/web/order/">Order Panel</a>
        </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:dashboard' %}">Welcome, {{ user.last_name }}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link js-scroll-t rigger" href="{% url 'web:logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}


<form method="post">
  {% csrf_token %}
    <div class="container register-form">
    <div class="form">
      <div class="note">
          <h4 class="my-4">Approve Order</h4>
      </div>
      <div class="form-content">
  {{ form.as_p }}
<!--  <div class="form-check">-->
<!--    <input class="form-check-input" type="checkbox" name="approved" id="approved">-->
<!--    <label class="form-check-label" for="approved">Approved</label>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        </div>
</form>
{% endblock %}